.success--div--overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0px;
    padding:0px;
    background-color: black;
    opacity:0.5;
    width:100vw;
    height:100vh;
}

.success--div{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    max-width: 700px;
    max-height: 600px;

    width: 80%;
    height:70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #007DB5;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 10px 10px 100px 0 rgba(0,0,0,0.5);
}

.error--div{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    max-width: 700px;
    max-height: 600px;

    width: 80%;
    height:70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #C02942;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 10px 10px 100px 0 rgba(0,0,0,0.5);
}

.close--button{
    background-color: transparent;
    border:none;
    align-self: flex-end;
    justify-self: flex-end;
    width:30px;
    height:20px;
    margin: 10px;
    cursor: pointer;
    z-index: 2500;
}

.close--img{
    width:100%;
}

.success-span{
    position:absolute;
    padding:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success--h1, .success--p{
    color:white;
    text-align:center;
}

.success--img{
    width:80%;
    max-width:200px;
    padding-bottom: 10px;
}
